#container {
    display: flex;
    flex-direction: column;
    max-width: 600px
}
#editor {
    margin: 0;
    position: absolute;
    top: 9rem;
    right: 6%;
    left: 6%;
    bottom: 0;
    height: 18%;
    width: 84%;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
#bottomRun {
    position: absolute;
    top: 35%;
}