#notifications-container {
    bottom: 15px;
    right: 0;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.notification {
    right: 15px; /* For transition */
}