#notifications-container {
    top: 10px;
    right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.notification {
    right: 0; /* For transition */
    margin-right: 15px;
}